<header>Header Section
    <ul>
        <% if(locals.user){ %>
        <li><%= user.name %></li>
        <li><a href="/users/signout">SignOut</a></li>
        <% } else {  %>
            <li><a href="/users/signin">SignIn</a></li>
            <li><a href="/users/signup">SignUp</a></li>
        <% } %>
    </ul>
</header>