<h1>Codieal / <%= title %></h1>
<section>
    <form action="" method="post">
        <textarea name="content" rows="3" cols="30"></textarea>
        <input type="submit" value="Create Post">
    </form>
</section>